.about
  %p
    Hi, my name Helen! I'm from Yoshkar-Ola (Russia). And I am handmade master.
    I have been making scrapbook album from 2010.
  %p
    Всем привет! Меня зовут Елена и Я из Йошкар-олы. Занимаюсь скрапбукингом с
    2010 года. Это сайт о ручной работе.
