.contacts
  = image_tag asset_url("me.jpg")
  .info
    %p
      Если Вам понравились мои работы и Вы хотите сделать заказ, свяжитесь со мной любым удобным для Вас способом:
    %ul
      %li
        %b
          телефон:
        98-31-84
      %li
        %b
          эл. почта:
        %span.email
      %li
        = link_to "Вконтакте", "http://vk.com/shulepoval", target: "_blank"
