.blog
  .show-post
    .article-wrapper
      %article
        %header
          %h1.entry-title
            %a{href: post_path(@post)}
              = @post.title
          %time
            = @post.created_at.strftime("%d-%m-%Y")
        = raw delete_tag_from_post_body @post.body
      %div.foot
        = link_to 'назад', posts_path
    %aside#sidebar
      %h2
        ТВОРЧЕСТВО &
        РУЧНАЯ РАБОТА
