.blog
  .show-post
    .article-wrapper
      %article
        %header
          %h1.entry-title
            %a{href: post_path(@post)}
              = @post.title
          %time
            = @post.created_at.strftime("%d-%m-%Y")
        = raw delete_tag_from_post_body @post.body
      -#%div.foot
        -#= link_to 'назад', posts_path
    %aside#sidebar
      %h2
        ТВОРЧЕСТВО &
        ВДОХНОВЕНИЕ
    = content_tag :div, "", class: 'disqus_conf',
      data: {url: post_url(@post), identifier: @post.id, title: @post.title}
    #disqus_thread
    :javascript
      var disqus_config = function () {
          this.page.url = $('.disqus_conf').data('url');
          this.page.title = $('.disqus_conf').data('title');
          this.page.identifier = $('.disqus_conf').data('identifier');
      };
