%div
  %div{style: "overflow: auto"}
    - @gallery.image_attachments.each do |attach|
      %div{style: "float: left"}
        %a.fancybox{href: attachment_image_path(attach), rel: 'gallery', title: attach.description}
          = image_tag(attachment_image_preview_path(attach), alt: attach.image_file_name)
        %br
        = link_to 'edit', attachment_image_edit_path(attach) if admin_signed_in?
  %br
  %div
    = link_to 'Galleries', galleries_path
