.contacts {
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
}

.contacts .info {
  margin-left: 50%;
}

.contacts p {
  text-indent: 2.5em;
  font-size: 17px;
}

.contacts ul {
  font-size: 17px;
}

.contacts img {
  border-radius: 25px;
  float: left;
  width: 40%;
}
