.contacts {
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
}

.contacts .info {
  margin-left: 35%;
}

.contacts p {
  text-indent: 2.5em;
}

.contacts img {
  float: left;
  width: 30%;
}
